.App {
  text-align: center;
}
.header{
  background-color: rgb(240, 230, 166);
  color: white;
  /* padding: 2px; */
  font-size: 20px;
  border-radius: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}
.coursesList, .reputation, .form-input{
  margin-top: 200px;
  list-style-type: none;
  line-height: 50px;
  font-size: 20px;
}
.form-input{
  display: flex;
  flex-direction: column;
}
.input-item{
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.reputation-item{
  list-style-type: none;
}
.footer{
  background-color: rgb(240, 230, 166);
  color: white;
  /* padding: 2px; */
  font-size: 20px;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
