.App {
  text-align: center;
}
.header{
  background-color: rgb(240, 230, 166);
  color: white;
  /* padding: 2px; */
  font-size: 20px;
  border-radius: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}
.coursesList{
  margin-top: 200px;
  list-style-type: none;
  line-height: 50px;
  font-size: 20px;
}
.footer{
  background-color: rgb(240, 230, 166);
  color: white;
  /* padding: 2px; */
  font-size: 20px;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
